:root {
	/* CSS-variabler här */
	--primary-color: rgb(37, 25, 80);
	--racecard-width: 5em;
}

* {
	box-sizing: border-box;
}
header {
	background-color: rgb(176, 219, 242);
	padding: 1.5em;
}

header > a {
	padding: 0.7em 1.8em;
	border: 1px solid black;
	margin: 0.6em;
	background-color: rgb(101, 148, 222);
	color: var(--primary-color);
	position: relative;
	top: 0em;

	/* offset-x offset-y blur-radius spread-radius color */
	box-shadow: 0.2em 0.3em 0.4em -0.1em rgb(80, 80, 80);

	transition: all 0.4s;
}
header > a:hover {
	box-shadow: 0.3em 0.45em 0.6em -0.1em rgb(80, 80, 80);
	top: -0.3em;
	background-color: rgb(124, 162, 223);
}


body {
	color: var(--primary-color);
}



.highlight {
	padding: 1em;
	border: 0.3em solid brown;
	border-radius: 0.2em;
	background-color: #eff0c7;
	transition: all 0.3s, background-color 2.5s;
}

.highlight:hover {
	background-color: #b9a35a;
	border-color: rgb(198, 180, 158);
}


.race-track {
	border: 2px solid black;
	padding: 0.2em;
	margin-top: 1em;
	background-color: rgb(203, 203, 240);

}

.race-track > * {
	width: var(--racecard-width);
	height: 2em;
	border: 1px solid black;
	margin: 0.1em;
	background-color: rgb(133, 133, 233);
	position: relative;
	left: 0%;
}
.race-track .linear {
	transition: all 2s linear;
}
.race-track .ease-in {
	transition: all 2s ease-in;
}
.race-track .ease-out {
	transition: all 2s ease-out;
}
.race-track .ease-in-out {
	transition: all 2s ease-in-out;
}

.race-track:hover > * {
	left: calc(100% - var(--racecard-width));
}

.shy-button {
	margin-top: 1em;
	opacity: 1;
	transition: opacity 1.5s ease-out;
}
.shy-button:hover {
	opacity: 0.2;
}


.keyframes-demo {
	border: 2px solid gray;
	height: 10em;
	width: 10em;
	margin-top: 1em;
	border-radius: 0.2em;
	padding: 0.3em;
}
.keyframes-demo .mover {
	background-color: rgb(145, 203, 139);
	--mover-width: 1.5em;
	width: var(--mover-width);
	height: 1.5em;
	border-radius: 0.5em;
	position: relative;
}
.keyframes-demo:hover .mover {
	animation: move-around 2s ease-in-out;
	/* Kom ihåg att beskriva positionen efter animationen är klar */
	left: 0em;
	top: 0em;
}

@keyframes move-around {
	from {
		left: 0em;
		top: 0em;
		animation-timing-function: ease-in;
	}
	25% {
		left: calc(100% - var(--mover-width));
		top: 0em;
		animation-timing-function: linear;
	}
	50% {
		left: calc(100% - var(--mover-width));
		top: calc(100% - var(--mover-width));
		animation-timing-function: linear;
	}
	75% {
		left: 0em;
		top: calc(100% - var(--mover-width));
		animation-timing-function: ease-out;
	}
	to {
		left: 0em;
		top: 0em;
	}
}